{% extends 'base.html.twig' %}

{#{% set pageTitle = article.title %}#}
{#{% set activeCategory = article.categoryTitle %}#}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block body %}
    <section class="posts">
        {% for article in articles %}
            <article class="post">
                <a href="#" class="category-link">{{ article.categoryTitle }}</a>
                <a href="{{ path('app_article', { 'id': article.id }) }}"><h4>{{ article.title }}</h4></a>
                <time>{{ article.publicationDate | date('d-m-Y') }}</time>
            </article>
        {% endfor %}
    </section>
{% endblock %}
